<% model_id = @model.class.to_s.downcase + "-#{@model.id.to_s}" if @model %>
<%= link_to(@model, class: "no-overflow #{@_rule[:class]}") do %>
  <%= content_tag :div, role: 'have-fun', style: 'display: none;', episode: @_thumb_info[:ep_value], show: @_thumb_info[:show_value] do %>
    <div class="card shadow-sm borderless d-flex align-items-stretch">
      <div class="image-card-container focusable">
        <div class="darken">
          <%= image_for(@model, id: "#{model_id}", class: "card-img-top descriptive #{@_rule[:display]}", onload: 'fadeIn(this)', style: 'display: none;') %>
        </div>
        <div class="hf-thumb-info <%= @_rule[:display] %> description" style="width: 95%;">
          <% unless @model.nil? %>
            <span class="truncate"><%= @model.respond_to?(:get_title) ? @model.get_title : @model.title %></span>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
<% end %>
