<nav class="level">
  <div class="level-item has-text-centered">
    <% if @show.is?(:movie) %>
      <div>
        <p class="heading">Duration (mins)</p>
        <p class="title"><%= @show.duration.to_i || '-' %></p>
      </div>
    <% elsif @show.is?(:game) %>
      <div>
        <p class="heading">Clips</p>
        <p class="title"><%= @show.episodes.count %></p>
      </div>
    <% else %>
      <div>
        <p class="heading">Episodes</p>
        <p class="title"><%= @show.episodes_count %></p>
      </div>
    <% end %>
  </div>
  <div class="level-item has-text-centered">
    <div>
      <p class="heading">Likes</p>
      <p class="title"><%= @show.likes_count %></p>
    </div>
  </div>
  <div class="level-item has-text-centered">
    <div>
      <p class="heading">Rank</p>
      <p class="title"><%= @show.popularity? ? "##{@show.popularity}" : '-' %></p>
    </div>
  </div>
  <div class="level-item has-text-centered">
    <div>
      <p class="heading">Age rating</p>
      <p class="title" style="padding-bottom: 0;">
        <%= @show.age_rating %>
      </p>
      <small><%= @show.age_rating_guide %></small>
    </div>
  </div>
</nav>
