<nav class="level">
  <div class="level-item has-text-centered">
    <% if @show.is?(:movie) %>
      <div>
        <p class="heading">Duration (mins)</p>
        <p class="title"><%= @show.duration.to_i || '-' %></p>
      </div>
    <% elsif @show.is?(:game) %>
      <div>
        <p class="heading">Clips</p>
        <p class="title"><%= @show.episodes.count %></p>
      </div>
      <div class="level-item has-text-centered">
        <div>
          <p class="heading">Likes</p>
          <p class="title"><%= @show.likes_count %></p>
        </div>
      </div>
    <% else %>
      <div>
        <p class="heading">Episodes</p>
        <p class="title"><%= @show.episodes_count %></p>
      </div>
    <% end %>
  </div>
  <% if @current_season %>
    <div class="level-item has-text-centered">
      <div>
        <p class="heading"><%= @current_season[:season] %></p>
        <p class="title"><%= @current_season[:year] %></p>
      </div>
    </div>
  <% end %>
  <% if @show.coming_soon? && @show.starts_on.present? %>
    <div class="level-item has-text-centered">
      <% airing_info = airing_in(@show.starts_on) %>
      <% content = airing_info[:count].present? ? t(airing_info[:content], count: airing_info[:count]) : airing_info[:content] %>
      <div>
        <p class="heading"><%= t(airing_info[:title]) %></p>
        <p class="title" style="padding-bottom: 0"><%= content %></p>
        <small><%= @show.starts_on.strftime('%B %d') %></small>
      </div>
    </div>
  <% end %>
  <div class="level-item has-text-centered">
    <div>
      <p class="heading">Rank</p>
      <% if @show.popularity? %>
        <p class="title" style="padding-bottom: 0; color: <%= popularity_colour(@show) %> !important">
          <%= @show.popularity.ordinalize %>
        </p>
        <small>most popular</small>
      <% else %>
        <p class="title">-</p>
      <% end %>
    </div>
  </div>
  <div class="level-item has-text-centered">
    <div>
      <p class="heading">Age rating</p>
      <p class="title" style="padding-bottom: 0;">
        <%= @show.age_rating %>
      </p>
      <small><%= @show.age_rating_guide %></small>
    </div>
  </div>
</nav>
