<style>
  .platforms-info a {
    color: #fff !important;
  }
  .platforms-info a:hover {
    color: #ccc !important;
  }
</style>

<div class="text-center" style="margin: 40px; display: grid;">
  <span class="title">Available streaming platforms</span>
  <span class="subtitle">Find out which streaming platforms show your favourite anime!</span>
  <small class="is-hidden"><i><%= t('anime.shows.search-result', count: @shows_count) %></i></small>
</div>

<div class="container">
  <%= render_breadcrumbs %>
</div>

<% Platform.all.each do |platform| %>
  <% text_color = Utils.text_color(from: platform.colour) %>
  <section class="hero is-bold platforms-info">
    <div class="hero-body">
      <div class="container">
        <% platform_title = content_tag(:div) do %>
          <span class="show-url-image">
            <%= platform.title %>
            <%= image_tag(platform.icon) %>
          </span>
        <% end %>
        <%= hf_header(platform_title, link: platform_path(platform.name), link_title: 'More...') %>
        
        <h1 class="subtitle">
          <small>
            More info at
            <u>
              <%= link_to(platform.url, platform.url, target: '_blank', style: "") %>
            </u>
          </small>
        </h1>
        <div class="shows">
          <div class="columns is-multiline is-mobile">
            <% platform.all_shows.limit(11).each do |show| %>
              <div class="column is-2-desktop is-4-tablet is-6-mobile">
                <%= link_to(show) do %>
                  <div style="position: relative;">
                    <%= render_show_status_badge(show) %>
                  </div>
                  <%= image_tag(show.poster_url, style: 'height: 250px; width: 100%; object-fit: cover;') %>
                  <div><small><%= show.title %></small></div>
                <% end %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </section>
<% end %>
