<style>
  .filter {
    margin-bottom: 1.5rem;
  }
  .filter .title {
    font-size: 1rem;
    margin-bottom: 0.7rem;
  }
  .filter .button {
    margin-bottom: 0.5rem;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
  }
  .card-content {
    display: flex;
    padding: 0.75rem 1rem;
    padding-top: 0;
  }
  .card-content img.poster {
    height: 100px;
    margin-right: 10px;
  }
  .card-content .show-details {
    display: block;
  }
  .card {
    height: 125px;
  }
  td.has-background-today {
    background: #888;
  }
  th.has-background-today {
    text-decoration: underline;
  }
  .is-today {
    font-weight: bold;
  }
</style>

<div class="text-center" style="margin: 40px; display: grid;">
  <span class="title">Release schedule <%= current_platform.presence && "for #{current_platform.title}" %></span>
  <span class="subtitle">Find out when streaming platforms stream your favourite anime!</span>
</div>

<div class="container">
  <%= render_breadcrumbs %>
</div>

<div class="container is-fluid" style="padding-bottom: 55px">
  <% if @total_count > 0 || current_platform.present? %>
    <div class="columns">
      <div class="column is-9">
        <div class="filter">
          <p class="title">Filter by...</p>

          <% Platform.ordered.each do |platform| %>
            <%= render FilterPlatformOptionComponent.new(platform, current_platform: current_platform) %>
          <% end %>
        </div>
      </div>
      <div class="column is-3 is-hidden">
        <article class="message">
          <div class="message-header">
            <p>About release schedules...</p>
          </div>
          <div class="message-body">
            Please note that is a rough approximation. Some shows may not be available for streaming in your region.
          </div>
        </article>
      </div>
    </div>
  <% end %>

  <% if @total_count > 0 %>
    <div class="table-container">
      <table class="table is-fullwidth is-bordered has-background-dark" style="table-layout: fixed; min-width: 950px; position: relative;">
        <thead>
          <tr>
            <% @dates.each do |date| %>
              <th data-day="<%= date.wday %>" class="has-text-grey" style="position: sticky; top: 0;">
                <%= date.strftime('%b %d, %Y') %>
              </th>
            <% end %>
          </tr>
        </thead>

        <tbody>
          <% @results.each do |rows| %>
            <tr>
              <% rows.each_with_index do |show, wday| %>
                <td data-day="<%= wday %>">
                  <% if show %>
                    <%= render ShowCardComponent.new(show, platform: current_platform, link: true) %>
                  <% end %>
                </td>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  <% elsif current_platform.present? %>
    <p>Nothing is airing yet on <%= current_platform.title %>.</p>
  <% else %>
    <p>Nothing is airing yet here!</p>
  <% end %>

  <% if params[:old] %>
    <div class="columns" style="overflow: scroll; margin-top: 40px;">
      <% @raw_schedule.each do |day, schedule| %>
        <div class="column" style="min-width: 250px; min-height: 300px; border: 1px #aaa solid;">
          <h1 class="subtitle" style="<%= current_time.wday == schedule[:id] ? 'color: #fff;' : 'color: #aaa' %>"><%= day %></h1>

          <div class="schedule">
            <% schedule[:shows].each do |show| %>
              <%= render ShowCardComponent.new(show, platform: current_platform) %>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>

<script>
  document.addEventListener('DOMContentLoaded', () => {
    const today = parseInt("<%= current_time.to_date.wday %>");
    const concernedElements = document.querySelectorAll(`[data-day="${today}"]`);

    concernedElements.forEach(element => {
      element.classList.add('has-background-today');
      if (element.tagName === 'TH') {
        element.classList.add('has-text-white');
        element.classList.remove('has-text-grey');
      }
    });
  });
</script>
