<style>
  .platform {
    background: <%= current_platform.colour %>;
    background: linear-gradient(0deg, <%= current_platform.colour %>50 0%, <%= current_platform.colour %>70 30%, #262626 100%);
  }
</style>

<div class="platform">
  <section class="hero is-small">
    <div class="hero-body">
      <div class="container">
        <h1 class="title">
          <span class="show-url-image">
            <%= image_tag(current_platform.icon, class: 'larger') %>
            <%= current_platform.title %>
          </span>
        </h1>

        <%= render_breadcrumbs %>

        <div class="hf-section">
          <p><i class="material-icons">schedule</i> <%= link_to('Release schedule', schedule_platforms_path(name: current_platform.name), style: 'color: #fff') %></p>
          <p><i class="material-icons">launch</i> <%= link_to("Visit #{current_platform.title}'s website now", current_platform.url, style: 'color: #fff', target: '_blank') %></p>
          <p><i class="material-icons">trending_up</i> <%= link_to(t('breadcrumbs.names.shows'), shows_path(by: current_platform.name), style: 'color: #ccc') %></p>
        </div>
      </div>
    </div>
  </section>

  <div class="container">
    <%= render partial: 'shows/partial/shows_list',
      locals: {
        title: 'Airing today',
        platform: current_platform.name,
        scope: Shows::Airing.perform(date: Time.now, scope: current_platform.shows.active),
      }
    %>

    <%= render partial: 'shows/partial/shows_list',
      locals: {
        title: 'Airing tomorrow',
        platform: current_platform.name,
        scope: Shows::Airing.perform(date: 1.day.from_now, scope: current_platform.shows.active),
      }
    %>

    <%= render partial: 'shows/partial/shows_list',
      locals: {
        title: 'Top airing',
        platform: current_platform.name,
        scope: current_platform.shows.airing,
      }
    %>

    <%= render partial: 'shows/partial/shows_list',
      locals: {
        title: 'Coming soon',
        platform: current_platform.name,
        scope: current_platform.shows.coming_soon,
      }
    %>

    <%= render partial: 'shows/partial/shows_list',
      locals: {
        title: 'Hot right now',
        platform: current_platform.name,
        scope: current_platform.shows.active.trending.limit(12),
      }
    %>

    <%= render partial: 'shows/partial/shows_list',
      locals: {
        title: 'Recent additions',
        platform: current_platform.name,
        scope: current_platform.shows.recent.limit(12),
      }
    %>

    <%= render partial: 'shows/partial/shows_list',
      locals: {
        title: t('breadcrumbs.names.shows'),
        link: shows_path(by: current_platform.name),
        platform: current_platform.name,
        scope: current_platform.shows.trending.limit(12),
      }
    %>

    <%= render partial: 'shows/partial/shows_list',
      locals: {
        title: 'Anything you like? Discover something new!',
        platform: current_platform.name,
        scope: current_platform.random_shows(limit: 12),
      }
    %>
  </div>
</div>