<div class="is-poster" style="margin-bottom: .5rem;">
  <div class="card" style="background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('<%= show.poster_url %>'); background-size: cover;">
    <small class="card-header-title has-text-white">
      <div class="columns is-multiline is-gapless">
        <% (show.platforms(focus_on: platform&.name)).each do |platform| %>
          <div class="column is-2" style="width: auto;">
            <%= link_to(platform.name) do %>
              <span class="show-url-image">
                <%= image_tag(platform.icon, class: 'tiny round', style: 'margin-right: 1px;') %>
              </span>
            <% end %>
          </div>
        <% end %>
      </div>
    </small>
    <div class="card-content">
      <div class="show-details">
        <small class="clamped long-title">[<%= show.starts_on.wday %>] <%= show.title %></small>
      </div>
    </div>
  </div>
</div>
