<% url = @login_url if !@login_url.nil? %>
<% url = '/login' if url.nil? %>

<% username_field_title = "Your username" %>
<% password_field_title = "Your password" %>

<div class="login-form">
    <%= form_for(:user, :url => url, html: { onsubmit: "// return checkEmptyForm(this)" }) do |f| %>

        <%= f.label(:username, username_field_title, :id => "username-field") %>
        <br>
        <%= f.text_field(:username, value: @attempt_username) %>
        <br><br>
        <%= f.label(:password, password_field_title, :id => "password-field") %>
        <br>
        <%= f.password_field(:password) %>
        <br><br>

        <%= f.submit "Login" %>

    <% end %>
</div>

<script type="text/javascript">
    // Checking if a form is empty
    function checkEmptyForm(form) {
        var inputs = form.getElementsByTagName('input');
        var counter = 0;

        // TODO : "Un-hardcode" this here.
        var usernameField = document.getElementById('user_username');
        var passwordField = document.getElementById('user_password');
        if (usernameField.value == "") {
            $("#username-field").attr('style', 'color: red; font-weight: bold;');
            $("#username-field").html('You forgot to tell us who you are!');
            counter += 1;
        } else {
            $("#username-field").attr('style', 'color: black; font-weight: normal;');
            $("#username-field").html('<%= username_field_title %>');
        }
        if (passwordField.value == "") {
            $("#password-field").attr('style', 'color: red; font-weight: bold;');
            $("#password-field").html('Logging in without a password is pretty hard...');
            counter += 1;
        } else {
            $("#password-field").attr('style', 'color: black; font-weight: normal;');
            $("#password-field").html('<%= password_field_title %>');
        }
        console.log('Counter = %s', counter);
        return counter == 0;
    }
</script>