<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <%= link_to admin_path, class: 'navbar-item' do %>
      <%= image_tag 'tanoshimu', class: 'logo' %><h1 class="is-hidden logo-title"><%= t('app.name') %></h1>
    <% end %>

    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">
          More
        </a>

        <div class="navbar-dropdown">
          <%= link_to('Browse shows', admin_shows_path, class: 'navbar-item') %>
          <%= link_to('Users', admin_users_path, class: 'navbar-item') %>

          <hr class="navbar-divider">
          <%= link_to('Job Events', admin_job_events_path, class: 'navbar-item') %>
          <%= link_to('Sidekiq Web', admin_sidekiq_web_path, class: 'navbar-item', target: :_blank) %>

          <hr class="navbar-divider">
          <%= link_to(
            'Report an issue',
            '//github.com/thedrummeraki/tanoshimu/issues/new',
            class: 'navbar-item',
            target: '_blank',
          ) %>
        </div>
      </div>
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <a href='https://youranime.moe' class="button is-warning">
            Back to <%= t('app.name') %>
          </a>
          <%= link_to('Logout', logout_path, class: 'button is-danger') %>
        </div>
      </div>
    </div>
  </div>
</nav>
