<div class="container is-fluid">

  <% if @episodes[:actual].size > 0 %>
    <div class="hf-section">
      <div class="tanoshimu-list-title"><%= t('anime.episodes.continue-watching') %></div>
      <%= render 'users/partial/continue' %>
    </div>
  <% end %>

  <div class="hf-section">
    <div class="tanoshimu-list-title"><%= t('anime.shows.trending') %></div>
    <div class="thumbs-section">
      <% @recent_shows.each_slice(4) do |shows_rows| %>
        <div class="columns is-tiny-gap no-margin shows">
          <% shows_rows.each do |show| %>
            <%= link_to(show, class: "column is-3") do %>
              <%= show_thumb(show, rules: @_rule) %>
            <% end %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>

</div>
