<div class="container">
  <span class="title"><%= t('header.settings') %></span>
  <div class="settings-form" style="margin-top: 20px;">
    <%= form_for(current_user, url: "/users/update/#{current_user.id}") do |f| %>
      <div class="card" style="padding-bottom: 30px;">
        <div class="card-content text-center">
          <div class="edit-thumb thumbnail" style="margin: 0 auto 3rem; padding-bottom: 30px;">
            <figure class="image">
              <%= avatar_tag(size: 200, class: 'is-rounded') %>
            </figure>
            <a href="#" class="button is-icon is-dark">
              <i class="material-icons">add_photo_alternate</i>
            </a>
          </div>

          <div class="control">
            <%= f.label :name, t('user.settings.form.name') %>
            <%= f.text_field :name, class: 'input is-rounded is-dark', placeholder: t('user.settings.form.name'), autocomplete: 'off' %>
          </div><br>

          <div class="control">
            <%= f.label :password, t('user.settings.form.password.change') %>
            <% if current_user.google_user %>
              <p class="text-muted">
                <img width="45px" src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/512px-Google_%22G%22_Logo.svg.png"/><br>
                <%= t('user.settings.form.password.google.prompt') %><br>
              </p>
            <% end %>
            <div class="field is-grouped">
              <%= f.password_field :password, class: 'input is-rounded is-dark', placeholder: t('user.settings.form.password.new-password') %>
              <%= f.password_field :password_confirmation, class: 'input is-rounded is-dark', placeholder: t('user.settings.form.password.confirm-new') %>
            </div>
            <% if current_user.google_user %>
              <small class="text-muted"><%= t('user.settings.form.password.google.warning') %></small>
            <% end %>
          </div>

          <div style="width: 60%; margin: 30px auto 0;">
            <button type="submit" class="button is-primary is-fullwidth"><%= t('user.settings.form.submit') %></button>
          </div>
        </div>
      </div>
    <% end %>
  </div>

    <div class="hf-section" style="margin-top: 60px;">
      <% if @episodes_size > 0 %>
        <div class="justified w-100">
          <span class="title"><%= t('header.history') + " (#{@episodes_size})" %></span>
          <div><%= link_to(t('anime.history.clear'), '#', class: 'button is-danger') %></div>
        </div>
      <% end %>

      <% index = 0 %>
      <% @episodes.each_slice(6) do |episodes| %>
        <div class="columns is-tiny-gap no-margin is-vcentered">
          <% episodes.each do |episode| %>
            <%= link_to(episode, class: "column is-2 #{index}") do %>
              <%= show_thumb(episode, rules: {}) %>
            <% end %>
            <% index += 1 %>
          <% end %>
          <% if index == 11 && @episodes_size > 11 %>
            <div class="column is-2 text-center">
              <%= link_to(t('anime.other.more'), '#') %>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>

</div>
