<footer class="footer dark-background-1">
  <div class="content has-text-centered">
    <p>
      <% if logged_in? %>
        <%= raw t('auth.logged-in', name: current_user.name, username: current_user.username) %>
        <%= user_emoji %>
      <% else %>
        <%= raw t('auth.not-logged-in') %>
      <% end %>
    </p>
  </div>
  <div class="content has-text-centered">
    <%= render 'shared/language_change' %>
  </div>
  <div class="content has-text-centered">
    <p>
      <small>
        &copy; 2016-<%= DateTime.now.year %> Tanoshimu (Have Fun) - YourAnime.moe by <a href="https://www.akinyele.ca"><strong>Akinyele Cafe-Febrissy</strong></a>
        <p>Request ID: <code class="request-id"><%= request_id %></p></p>
      </small>
    </p>
  </div>
</footer>
