<nav style="display: none;" class="navbar navbar-light fixed-top bg-light shadow-sm p-3 mb-5 rounded">
  <a class="navbar-brand" href="/">
    <%= image_tag 'tanoshimu', class: 'logo' %>
  </a>
  <div class="my-2 my-lg-0">
    <div class="dropdown">
      <button class="btn dropdown-toggle no-caret user-dropdown no-outline" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span style="padding-right: 10px;"><%= current_user.get_name %></span>
        <%= avatar_tag(size: 30, style: 'border-radius: 20px;') %>
      </button>
      <div class="dropdown-menu dropdown-menu-right hf-dropdown" aria-labelledby="dropdownMenuButton">
        <a class="no-underline user-profile-link px-3 pt-2 pb-2 mb-n2 mt-n1 d-block" href="#" data-ga-click="Header, go to profile, text:Signed in as">
          <%= t('header.signed-in', username: current_user.username).html_safe %>
        </a>
        <div class="dropdown-divider"></div>
        <%= link_to(t('header.settings'), settings_path, class: 'dropdown-item') %>
        <%= link_to(t('header.logout'), logout_path, class: 'dropdown-item') %>
      </div>
    </div>
  </div>
</nav>

<nav class="navbar has-shadow is-spaced" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="/">
      <%= image_tag 'tanoshimu', class: 'logo' %>
    </a>

    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item">
        Home
      </a>

      <a class="navbar-item">
        Documentation
      </a>

      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">
          More
        </a>

        <div class="navbar-dropdown">
          <a class="navbar-item">
            About
          </a>
          <a class="navbar-item">
            Jobs
          </a>
          <a class="navbar-item">
            Contact
          </a>
          <hr class="navbar-divider">
          <a class="navbar-item">
            Report an issue
          </a>
        </div>
      </div>
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <a class="button is-primary">
            <strong>Sign up</strong>
          </a>
          <a class="button is-light">
            Log in
          </a>
        </div>
      </div>
    </div>
  </div>
</nav>
