<nav class="sidebar-width d-none d-md-block bg-secondary sidebar">
  <div class="sidebar-sticky">
    <ul class="nav flex-column">
      <li class="nav-item logo">
        <a class="no-underline noselect" href="/">
          <div class="row no-margin">
            <div class="col-md-2">
              <span class="navbar-brand">
                <%= image_tag 'tanoshimu', width: '30px', height: '30px' %>
              </span>
            </div>
            <div class="col-md-10">
              <h4 class="nav-brand">Tanoshimu</h4>
            </div>
          </div>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" href="/">
          <i class="material-icons">home</i>
          <%= t('sidebar.home-page') %> <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/search">
          <i class="material-icons">search</i>
          <%= t('sidebar.browse') %>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/shows">
          <i class="material-icons">play_arrow</i>
          <%= t('sidebar.anime-movies') %>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/random">
          <i class="material-icons">shuffle</i>
          <%= t('sidebar.feel-adventure') %>
        </a>
      </li>
    </ul>

    <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-white">
      <span><%= t('sidebar.for-you.title') %></span>
      <a class="d-flex align-items-center text-muted" href="#">
        <span data-feather="plus-circle"></span>
      </a>
    </h6>

    <ul class="nav flex-column mb-2">
      <li class="nav-item">
        <a class="nav-link" href="/recommendations">
          <i class="material-icons" style="margin-right: 2px;">thumb_up</i>
          <%= t('sidebar.for-you.recommendations') %>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/history">
          <i class="material-icons">history</i>
          <%= t('sidebar.for-you.episode-history') %>
        </a>
      </li>
      <li class="nav-item">
        <%= link_to settings_path, class: 'nav-link' do %>
          <i class="material-icons">settings</i>
          <%= t('sidebar.for-you.account-settings') %>
        <% end %>
      </li>
    </ul>

    <% if current_user.admin? %>

      <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-white">
        <span><%= t('sidebar.admin.title') %></span>
        <a class="d-flex align-items-center text-muted" href="#">
          <span data-feather="plus-circle"></span>
        </a>
      </h6>

      <ul class="nav flex-column mb-2">
        <li class="nav-item">
          <%= link_to admin_shows_path, class: 'nav-link' do %>
            <%= t('sidebar.admin.manage.shows') %>
          <% end %>
        </li>
      </ul>

    <% end %>

    <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-white">
      <span><%= t('sidebar.other.title') %></span>
      <a class="d-flex align-items-center text-muted" href="#">
        <span data-feather="plus-circle"></span>
      </a>
    </h6>

    <ul class="nav flex-column mb-2">
      <li class="nav-item">
        <%= link_to new_issue_path, class: 'nav-link' do %>
          <i class="material-icons">bug_report</i>
          <%= t('sidebar.other.any-issues') %>
        <% end %>
      </li>
      <li class="nav-item">
        <a target="_blank" class="nav-link" href="https://www.akinyele.ca">
          <i class="material-icons">help</i>
          <%= t('sidebar.other.about') %>
        </a>
      </li>
    </ul>
  </div>
</nav>
