
<div class="video-body">
  <div class="controls-container">
    <div class="gradient top"></div>
    <div class="gradient bottom"></div>
    <div class="controls-zone">
      <div class="back button" go-to-show="<%= @episode.show.id %>">
        <%= image_tag("baseline-arrow_back-24px", width: "35px") %>
      </div>
      <div class="controls-bottom">
        <div class="hf-progress">
          <div class="progress-bar-mgmt">
            <div class="progress-bar-cont">
              <div class="progress-bar"></div>
            </div>
          </div>
          <div class="progress-elapsed">
            <time class="remaining">00:00:00</time>
          </div>
        </div>
        <div class="hf-controls">
          <div class="button" go-to-show="<%= @episode.show.id %>">
            <%= image_tag("baseline-play_arrow-24px", width: "35px") %>
          </div>
          <div class="title">
            <h5 class="show"><%= @episode.show.get_title %></h5>
            <% if @episode.show.episodes.size > 1 %>
              <h5 class="episode"><%= @episode.get_title %></h5>
            <% end %>
          </div>
          <div class="button" go-to-show="<%= @episode.show.id %>">
            <%= image_tag("baseline-skip_next-24px", width: "35px") %>
          </div>
          <div class="button" go-to-show="<%= @episode.show.id %>">
            <%= image_tag("baseline-fullscreen-24px", width: "35px") %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="video">
    <%= video_tag @episode.get_video_url,
        controls: false,
        autoplay: true,
        id: 'video-obj' %>
  </div>
</div>
