<nav class="breadcrumb" aria-label="breadcrumbs">
  <ul>
    <li><%= link_to('Home', admin_path) %></li>
    <li class="is-active"><a href="../">Shows</a></li>
  </ul>
</nav>

<h1 class="title">Show List</h1>

<%= will_paginate @shows, renderer: BulmaPagination::Rails %>

<div class="columns is-multiline">
  <% @shows.each do |show| %>
    <div class="column is-2">
      <%= link_to(admin_show_path(show)) do %>
        <%= show_thumb(show) %>
      <% end %>
    </div>
  <% end %>
</div>

<%= will_paginate @shows, renderer: BulmaPagination::Rails %>
