<div id="progress" class="progress" style="margin-top: -3px;">
	<div class="indeterminate"></div>
</div>

<ul id="slide-out" class="sidenav sidenav-fixed">
	<div class="container-fluid center" style="padding-top: 10px;">
		<div class="row">
			<div class="col 4"><a href="/"><img src="/img/tanoshimu.png" style="height: 75px; object-fit: cover;" class="circle"></a></div>
			<div class="col 8"><h4>Shows</h4></div>
		</div>
	</div>
    <li><div class="divider"></div></li>
    <li><a class="subheader green-text">Published</a></li>
    <div id="published-list">
      <% @published_shows.each do |show| %>
  	    <div class="clickable plz-hover" show-id="<%= show.id %>" title="<%= show.get_title(default: "No title") %>">
  	    	<li>
  		    	<div class="row">
  		    		<div class="col s3">
  		    			<% if show.has_banner? %>
  		    				<%= image_tag(show.get_banner, class: "circle small-banner") %>
  		    			<% else %>
  		    				<img src="/img/404.jpg" class="circle small-banner">
  		    			<% end %>
  		    		</div>
  		    		<div class="col s9" style="vertical-align: middle;"><span class="truncate"><%= show.get_title(html: true) %></span></div>
  		    	</div>
  		    </li>
  	    </div>
      <% end %>
    </div>
    <li><div class="divider"></div></li>
    <li><a class="subheader red-text">Unpublished</a></li>
    <div id="unpublished-list">
      <% @unpublished_shows.each do |show| %>
  	    <div class="clickable" show-id="<%= show.id %>" title="<%= show.get_title %>">
  	    	<li>
  		    	<div class="row">
  		    		<div class="col s3">
  		    			<% if show.has_banner? %>
  		    				<%= image_tag(show.get_banner, class: "circle small-banner") %>
  		    			<% else %>
  		    				<img src="/img/404.jpg" class="circle small-banner">
  		    			<% end %>
  		    		</div>
  		    		<div class="col s9"><span class="truncate show-title"><%= show.get_title(html: true) %></span></div>
  		    	</div>
  		    </li>
  	    </div>
      <% end %>
    </div>
  </ul>
  <a href="#" data-activates="slide-out" class="button-collapse"><i class="material-icons">menu</i></a>

  <div id="show-body" class="page hidden" style="margin-left: 300px;">
  	<div class="container">
  		<div class="center">
	    	<h3 show-value="get_title" value-type="html" default-value="Loading...">Tanoshimu Show</h3>
        <a show-value="link-to" href="" target="_blank" class="btn btn-floating"><i class="material-icons">open_in_new</i></a>
  		</div>
    	<div class="row">
    		<div class="col s6">
          <h5 class="bold">Publishing</h5>
          <div class="row center">
              <p>This show is...</p>
              <div class="switch">
                  <label>
                    un-published
                    <input id="publish-switch" show-type="published" value-type="checkbox" type="checkbox">
                    <span class="lever"></span>
                    pubished
                  </label>
              </div>
          </div>

          <div id="publish-on-cont" class="row">
            <p style="margin: 40px 0 0;">You may choose to leave this show unpublished for now and publish it at a later date.</p>
            <div class="input-field col s12">
              <input tanoshimu-activate-on="" id="publish-on" type="text" class="datepicker">
              <label for="publish-on">Publish on...(optional)</label> 
            </div>
          </div>

    			<h5 class="bold">General info</h5>
    			<div class="row">
    				<div class="input-field col s6">
			          <input show-value="title" value-type="input" placeholder="ex: Fairytail, Mitsudomoe" id="title" type="text" class="validate">
			          <label for="title">Title</label>
			        </div>
			        <div class="input-field col s6">
			          <input show-value="alternate_title" value-type="input" placeholder="ex: Fairy Tail" id="alternate_title" type="text" class="validate">
			          <label for="alternate_title">Alternate title</label>
			        </div>
    			</div>
    			<div class="row">
			        <div class="input-field col s12">
			          <textarea show-value="description" value-type="textarea" id="description" class="materialize-textarea"></textarea>
			          <label for="description">Description/Summary</label>
			        </div>
			    </div>

			    <h5 class="bold">Other info</h5>
          <div class="row">
              <div class="center">

                  <p>A show can be an <b>anime series</b>, a <b>movie</b> or a <b>drama</b>.</p>
                  <a show-value="show-type" id="show-type-btn" class='dropdown-trigger btn' href='#' data-target='show-type'>* Select *</a>
                  <ul id='show-type' class='dropdown-content'>
                      <li><a show-value="0" tanoshimu-updates="show-type-btn" href="#!">Anime Series</a></li>
                      <li><a show-value="1" tanoshimu-updates="show-type-btn" href="#!">Movie</a></li>
                      <li><a show-value="2" tanoshimu-updates="show-type-btn" href="#!">Drama</a></li>
                  </ul>
              </div>
          </div>
          <div class="row center">
              <p>A show can be <b>subbed in English</b>, <b>dubbed in English</b>, or available in both formats.</p>
              <div class="input-field col s12">
                  <select show-type="description" value-type="select" multiple>
                    <option data-icon="/img/icon-jp.png" value="1">Subbed</option>
                    <option data-icon="/img/icon-en.png" value="2">Dubbed</option>
                  </select>
                  <label>Subbed? Dubbed?</label>
              </div>
          </div>
    		</div>
        <div class="col s6">
          <h5 class="bold">Media</h5>
          <div class="row">
            <p>Click on the square below to add or update the banner for this show.</p>
            <div waiting-for="small_banner" class="progress" style="margin-bottom: 0;">
                <div class="indeterminate"></div>
            </div>
            <div id="show-img-select" class="image-input clickable" style="">
                <img id="small_banner" class="" show-value="banner_url" value-type="src" src="/img/404.jpg" style="object-fit: cover; height: 100%; width: 100%;">
            </div>
            <div id="banner_preview_cont" class="hidden">
              <p class="bold"><i>Banner preview</i></p>
              <div class="image-preview">
                  <img id="banner_preview" class="" src="/img/404.jpg" style="object-fit: cover; height: 100%; width: 100%;">
              </div>
            </div>
            <form action="#">
              <div class="file-field input-field hidden">
                <div class="btn">
                  <span>File</span>
                  <input id="show-img-file" type="file">
                </div>
                <div class="file-path-wrapper">
                  <input class="file-path validate" type="text">
                </div>
              </div>
            </form>
          </div>

          <div class="row">
            <p>Where on the file server should this banner be stored?</p>
            <div class="input-field col s12">
              <input show-value="image_path" value-type="input" placeholder="ex: /videos/icons/fairy-tail.png" id="banner" type="text" class="validate">
              <label for="banner">Banner path</label>
            </div>
          </div>

          <div class="row">
            <p>Where on the file server should videos be found?</p>
            <div class="input-field col s12">
              <input show-value="default_path" value-type="input" placeholder="ex: /videos/fairy-tail/" id="videos" type="text" class="validate">
              <label for="videos">Videos folder path</label>
            </div>
          </div>
        </div>
    	</div>
  	</div>
  </div>

<div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
  <a title="Add one or more episode(s)" id="upload-show" class="btn-floating btn-large red">
    <i class="material-icons">cloud_upload</i>
  </a>
  <ul>
    <li><a class="btn-floating red" style="transform: scaleY(0.4) scaleX(0.4) translateY(40px) translateX(0px); opacity: 0;"><i class="material-icons">insert_chart</i></a></li>
    <li><a class="btn-floating yellow darken-1" style="transform: scaleY(0.4) scaleX(0.4) translateY(40px) translateX(0px); opacity: 0;"><i class="material-icons">format_quote</i></a></li>
    <li><a class="btn-floating green" style="transform: scaleY(0.4) scaleX(0.4) translateY(40px) translateX(0px); opacity: 0;"><i class="material-icons">publish</i></a></li>
    <li><a class="btn-floating blue" style="transform: scaleY(0.4) scaleX(0.4) translateY(40px) translateX(0px); opacity: 0;"><i class="material-icons">attach_file</i></a></li>
  </ul>
</div>

  <script type="text/javascript">
  	$(document).ready(function() {
  		var current_show = null;

  		function getShow(id, callback, errorCallback) {
        setLoading(true);
  			$.ajax({
  				url: "/admin/shows/" + id + ".json",
  				success: function(res) {
            setLoading(false);
  					if (res.show) {
  						callback(res.show);
  					} else {
  						errorCallback("No show was found.");
  					}
  				},
  				error: function(e) {
            setLoading(false);
  					if (errorCallback !== undefined) {
  						errorCallback("Error on the server.", e);
  					}
  				}
  			});
  		}

      $('#publish-switch').on('change', function() {
        setPublishedDateEnabled(!$(this).is(":checked"));
      });

      $('#publish-switch').on('click', function() {
        setPublishedShow($(this).is(":checked"));
      });

  		$('[show-id]').on('click', function(e) {
  			let show_id = $(this).attr('show-id');
        $('[show-id]').removeClass('current');
        $(this).addClass('current');
        current_show = show_id;

  			getShow(show_id, function(show) {
          $('#show-body').attr('show-id', show_id);
          $('[show-value="link-to"]').attr('href', '/shows?id=' + show_id);
          $('#publish-switch').prop('checked', show.published == true).change();
          $("#show-img-file").val('');
          $('#banner_preview_cont').addClass('hidden');
          $('#banner_preview').removeAttr('src');

          let properties = Object.keys(show);
          [].forEach.call(properties, function(prop) {
            let element = $('[show-value="' + prop + '"]');
            //console.log(element);
            if (element.length) {
              let value = show[prop];
              let element_type = element.attr('value-type');

              if (element_type == 'input' || element_type == 'textarea') {
                element.val(value);
                element.addClass('active');
                if (element_type == 'textarea') {
                  M.textareaAutoResize(element);
                }
              } else if (element_type == 'src') {
                element.attr('src', value);
              } else if (element_type == 'html') {
                element.html(value);
              }
            }
          });
          M.updateTextFields();
  			});
  		});

      var first_show = <%= @select_show %>;
      if (first_show >= 0) {
        let $go_to_element = $('[show-id="' + first_show + '"]');
        $go_to_element.trigger('click');
        $('#slide-out').animate({scrollTop: $go_to_element.offset().top}, 2000);
      }

  		$('#add-episodes').on('click', function(e) {

  		});

      $('#show-img-select').on('click', function(e) {
        $('input[type="file"]').click();
      });

      $("#show-img-file").change(function(e) {
        var ext = $(this).val().split('.').pop().toLowerCase();
        if($.inArray(ext, ['git','png','jpg','jpeg']) == -1) {
            M.toast({html: "Please upload an image with a valid extension."});
            return;
        }
        showBannerPreview(this);
      });

      $('#small_banner').on('load', function(e) {
         $('[waiting-for="small_banner"]').addClass('hidden');
         $('#small_banner').removeClass('img-loading');
      });

      $('[tanoshimu-updates]').on('click', function(e) {
        e.preventDefault();
        let value = $(this).html();
        $('#' + $(this).attr('tanoshimu-updates')).html(value);
      });

      $('#upload-show').on('click', function(e) {
        setLoading(true);
        let show_id = $('#show-body').attr('show-id');
        let form_data = new FormData();
        form_data.append('banner', $('#show-img-file')[0].files[0]);
        let to_update = ['title', 'alternate_title', 'description', 'image_path', 'default_path'];
        [].forEach.call(to_update, function(key) {
          form_data.append(key, $('[show-value="' + key + '"]').val());
        });

        $.ajax({
          url: '/admin/shows/' + show_id,
          processData: false,
          contentType: false,
          data: form_data,
          method: 'patch',
          success: function(response) {
            // No need to set loading to false
            let $go_to_element = $('[show-id="' + response.id + '"]');
            $go_to_element.trigger('click');
            refreshShows();
            M.toast({html: response.message});
          }
        });
      });

      function setPublishedDateEnabled(enabled) {
        if (enabled) {
          $('#publish-on-cont').removeClass('hidden');
        } else {
          $('#publish-on-cont').addClass('hidden');
        }
      }

      function setPublishedShow(is_published) {
        let show_id = $(this).attr('show-id');
        $.ajax({
          url: "/admin/shows/publish/" + current_show,
          method: 'patch',
          data: {published: is_published ? true : false},
          success: function(response) {
            //M.toast({html: response.message});
            $('#publish-switch').prop('checked', response.published).change();
            if (response.success) {
              refreshShows();
            }
            
          }
        });
      }

      function setLoading(loading, hide_body) {
        if (loading) {
          if (hide_body) {
            $('#show-body').addClass('hidden');
          }
          $('#progress').removeClass('hidden');
          $('[waiting-for="small_banner"]').removeClass('hidden');
          $('#small_banner').addClass('img-loading');
        } else {
          $('#progress').addClass('hidden');
          $('#show-body').removeClass('hidden');
        }
      }

      function showBannerPreview(input) {
        if (input.files && input.files[0]) {
          var reader = new FileReader();

          reader.onload = function(e) {
            $('#banner_preview_cont').removeClass('hidden');
            $('#banner_preview').attr('src', e.target.result);
          }

          reader.readAsDataURL(input.files[0]);
        }
      }

      function refreshShows() {
        $.ajax({
          url: '/admin/shows.json',
          method: 'get',
          success: function(response) {
            published_shows = response.published;
            unpublished_shows = response.unpublished;

            drawShows('#published-list', published_shows);
            drawShows('#unpublished-list', unpublished_shows);

            let $go_to_element = $('div.clickable.current');
            $('#slide-out').animate({scrollTop: $go_to_element.offset().top}, 2000);
          }
        });
      }

      function drawShows(where, shows) {
        let $shows_cont = $(where);
        $shows_cont.html('');

        [].forEach.call(shows, function(show) {
          let $wrapper = $('<div class="clickable plz-hover"></div>');
          $wrapper.attr('show-id', show.id);
          $wrapper.attr('title', show.get_title);
          if (show.current) {
            $wrapper.addClass('current');
          }

          let $inner_wrapper = $('<li></li>');
          let $inner_wrapper_2 = $('<div class="row"></div>');

          let $cont_image = $('<div class="col s3"></div>');
          let $image = $('<img class="circle small-banner">');
          $image.attr('src', show.banner_url);
          $cont_image.append($image);

          let $cont_text = $('<div class="col s9"></div>');
          let $text = $('<span class="truncate show-title"></span>').text(show.get_title);
          $cont_text.append($text);

          $inner_wrapper_2.append($cont_image, $cont_text);
          $inner_wrapper.append($inner_wrapper_2);
          $wrapper.append($inner_wrapper);

          $shows_cont.append($wrapper);
        });
      }
  	});
  </script>
