<%= form_for(@episode, url: admin_show_episode_path(@episode)) do |f| %>
  <div class="hf-section">
    <div class="justify-content-between w-100 d-flex">
      <h2>Editing <i><%= @episode.get_title %></i> (#<%= @episode.id %>)</h2>
      <div><%= f.submit('Save and submit', class: 'btn btn-sm btn-primary') %></div>
    </div>
    <h6 class="text-muted">
      Back to <%= link_to("Manage <strong>#{@episode.show.get_title}</strong> episodes".html_safe, admin_show_episodes_path(@episode.show)) %>
    </h6>
  </div>

  <div class="container">
    <h4>Basic information</h4>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <%= f.label :title, 'Title', class: 'text-muted' %>
          <%= f.text_field :title, class: 'form-control', placeholder: "ie: Episode #{@episode.episode_number}", autocomplete: 'off' %>
        </div>
        <div class="form-group">
          <% shows_options = Show.ordered.map{|s| [s.get_title, s.id]} %>
          <%= f.label :show_id, 'Show', class: 'text-muted' %>
          <%= select_tag("show_id", options_for_select(shows_options, (@episode.show_id)), name: 'episode[show_id]', class: 'form-control', include_blank: '- choose a show -') %>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <%= f.label :episode_number, 'Episode number', class: 'text-muted' %>
          <%= f.number_field :episode_number, class: 'form-control', placeholder: "ie: 1", autocomplete: 'off' %>
        </div>
        <br />
        <div style="margin-top: 15px;" class="form-check text-center">
          <%= f.label :published %>
          <%= f.check_box :published %>
        </div>
      </div>
    </div>
  </div>

  <div class="container" style="margin-top: 30px;">
    <h4>Subtitles</h4>

    <ul class="list-group">
      <a href="#" id="add-sub" class="list-group-item list-group-item-action" data-toggle="modal" data-target="#add-new-sub-modal">
        Add a new...
      </a>
      <% @episode.subtitles.each do |subtitle| %>
        <a href="#" edit-sub="<%= subtitle.id %>" class="list-group-item list-group-item-action">
          <div class="justify-content-between w-100 d-flex">
            <%= subtitle.name %>
            <% if subtitle.default %>
              <%= badge(type: :success, content: :default) %>
            <% end %>
            <%= subtitle.lang %>
          </div>
        </a>
      <% end %>
    </ul>
  </div>

  <div class="modal" id="add-new-sub-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Add a new subtitle...</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <div class="modal-body">
          <form class="form" id="new_subtitle">
            <div class="form-group">
              <input type="text" class="form-control" name="subtitle[name]" placeholder="Subtitle name (ie: English)" />
            </div>
            <div class="form-group">
              <%= select_tag 'lang', options_for_select(Subtitle.languages), name: 'subtitle[lang]', class: 'form-control', include_blank: '- choose a show -' %>
            </div>
            <div class="form-group">
              <div class="custom-file">
                <input id="subtitle-src" type="file" class="custom-file-input" name="subtitle[src]"  />
                <label class="custom-file-label" for="subtitle-src">Choose file...</label>
              </div>
            </div>

            <div id="new_subtitle_error" class="alert alert-danger d-none"></div>

          </form>
        </div>


        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button id="submit_subtitle" type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>

<% end %>

<script type="text/javascript">
  $(document).ready(function() {
    $('#add-sub').on('click', function() {
      $('#add-new-sub-modal').modal();
    });

    $('#subtitle-src').on('change', function(e) {
      if (this.files && this.files.length > 0) {
        $('[for="subtitle-src"]').text(this.files[0].name);
      } else {
        $('[for="subtitle-src"]').text('Choose file...');
      }
    });

    $('#submit_subtitle').on('click', function() {
      $('#new_subtitle_error').text('').addClass('d-none');
      $.ajax({
        url: "<%= admin_show_episode_subtitles_path(@episode.show, @episode, format: :json) %>",
        method: 'post',
        processData: false,
        contentType: false,
        data: getSubtitleForm(),
        success: function(result) {
          console.log(result);
          if (result.success) {
            location.href = location.href
          } else {
            $('#new_subtitle_error').text(result.message).removeClass('d-none');
          }
        }
      });
    });

    function getSubtitleForm() {
      var form_data = new FormData();
      var src_file = $('#subtitle-src').get(0).files[0];

      form_data.append('subtitle[name]', $('[name="subtitle[name]"]').val());
      form_data.append('subtitle[lang]', $('[name="subtitle[lang]"]').val());

      if (src_file) {
        form_data.append('subtitle[src]', src_file);
      }

      return form_data;
    }
  });
</script>
