<div style="padding-bottom: 55px;">
  <div class="text-center" style="margin: 40px; display: grid;">
    <span class="title">
      <%= @title %>
      <% if current_platform.present? %>
        <span class="show-url-image"><%= image_tag(current_platform.icon) %></span>
      <% end %>
    </span>
    <span class="subtitle"><%= @title_subtitle %></span>
    <small class="is-hidden"><i><%= t('anime.shows.search-result', count: @shows_count) %></i></small>
  </div>
  <div class="container is-fluid">
    <%= render_breadcrumbs %>
    <% if @shows.empty? %>
      <div class="text-center">
        <div class="vertical-center" style="min-height: 50vh">
          <div class="wrapper">
            <h4 class="text-muted"><%= t('anime.shows.empty') %></h4>
          </div>
        </div>
      </div>
    <% else %>
    <div class="columns is-multiline">
      <% @shows.each do |show| %>
        <div class="column is-6-tablet is-3-desktop is-2-fullhd" style="padding: 1px;">
          <%= link_to(show) do %>
            <%= render ShowThumbnailComponent.new(show: show, focus_platform: current_platform) %>
          <% end %>
        </div>
      <% end %>
    </div>

    <div class="padded">
      <%= will_paginate @shows, renderer: BulmaPagination::Rails if @shows.respond_to?(:total_pages) %>
    </div>
    <% end %>
  </div>
</div>
