<script type="text/javascript">
  $(document).ready(function() {
    url = $('div[target]').attr('target');
    $('div[target]').css('background-image', "url(" + url + ")");
    $('div[target]').css('margin-bottom', '-100px');
    $('.show-body').fadeIn(2000);
  });
</script>

<div class="show-body" style="display: none;">
  <div class="head" target="<%= @show.banner_url %>">
    <div class="overlay">
      <div class="content">
        <div class="container pos-inherit">
          <div class="columns">
            <div class="column is-2">
              <div class="show-title">
                <%= image_tag(@show.poster_url, class: 'title-img level') %>
              </div>
            </div>
            <div class="column">
              <div class="show-title">
                <h1 style="font-weight: bold;">
                  <%= @show.title %>
                </h1>
                <div id="action_buttons">
                  <%= like_button(@show) %>
                  <%= dislike_button(@show) %>
                  <%= queue_button(@show) %>
                  <%= admin_button(@show) %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="columns">
      <div class="column is-2">
        <div style="border-bottom-color: #dbdbdb; border-bottom-style: solid; border-bottom-width: 1px; padding-bottom: 14px">
          <%= show_airing_badge(@show, force: true) %>
        </div>
        <div style="margin-top: 10px">
          <%= show_other_title(@show) %>
        </div>
      </div>

      <div class="column">

        <div class="container">
          <div class="tabs">
            <ul>
              <li><a>General</a></li>
              <li><a>Videos</a></li>
              <li><a>Comments</a></li>
            </ul>
          </div>
          <%= render 'shows/partial/insights' %>

          <small>
            <%= @show.description %>
          </small>
        </div>
      </div>
    </div>
  </div>

  <div class="container padded">
    
  </div>
</div>

<script type="text/javascript">
  $(document).ready(() => {
    $('div[season="1"]').removeClass('hide');
    $('a[data-season]').on('click', (e) => {
      e.preventDefault();
      const $target = $(e.target);
      const season = $target.attr('data-season');

      $('div[season]').addClass('hide');
      $('li').removeClass('is-active');

      $target.parent().addClass('is-active');
      $('div[season="' + season + '"]').removeClass('hide');
    });

    $('#queue').on('click', function(e) {
      $.ajax({
        method: 'post',
        url: '<%= show_queue_path(@show, format: :json) %>',
        success: function(result) {
          if (result.result == 'added') {
            $('#queue').addClass('is-success')  
              .children('.material-icons')
              .html('playlist_add_check');
          } else if (result.result == 'removed') {
            $('#queue').removeClass('is-success')
              .children('.material-icons')
              .html('playlist_add');
          }
        }
      });
    });

    const enableReactToShow = function() {
      $('button[reaction]').on('click', reactToShow);
    }
    const reactToShow = function(e) {
      console.log('clicked');
      const $target = $(this);
      const reactionType = $target.attr('reaction');

      $.ajax({
        method: 'post',
        url: '<%= show_react_path(@show, format: :json) %>',
        data: { reaction: reactionType },
        success: function(result) {
          loadPartial('action_buttons', '<%= show_action_buttons_path(@show) %>', enableReactToShow);
        },
      });
    };

    enableReactToShow();
  });
</script>
