<div class="container is-fluid">
  <% if Show.published.empty? %>
    <div class="text-center">
      <div class="vertical-center">
        <div class="wrapper">
          <h4 class="text-muted"><%= t('anime.shows.empty') %></h4>
        </div>
      </div>
    </div>
  <% else %>
    <% if logged_in? %>
      <%= hf_header(t('welcome.user', user: current_user.name)) %>
    <% end %>
    <div class="hf-section">
      <% if logged_in? && @main_queue.any? %>
        <%= hf_header(t('anime.shows.main-queue', count: @main_queue.count), subtitle: t('anime.shows.main-queue-what'), link_title: t('anime.other.more'), link: my_queue_path) %>
        <div class="columns is-tiny-gap no-margin shows" style="overflow: scroll">
          <% @main_queue.each do |queue_item| %>
            <%= link_to(queue_item.show, class: "column is-3") do %>
              <%= render ShowThumbnailComponent.new(show: queue_item) %>
            <% end %>
          <% end %>
          <% if @view_all_queue %>
            <div class="column is-3" style="display: flex; place-content: center">
              <%= link_to(my_queue_path, style: 'margin: auto;') do %>
                <span>View my queue</span>
              <% end %>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>

    <% ShowUrl.popular_platforms[0...5].each do |platform| %>
      <div class="hf-section">
        <% #image_tag(ShowUrl.img_asset_filename_for(platform), style: 'width: 16rem; height: 4rem;') %>
        <%= hf_header(t("anime.platforms.#{platform}"), link_title: t('anime.other.more'), link: shows_path(by: platform)) %>
        <div id="<%= platform %>">
          <% Show.actively_streamable_on(platform).limit(8).each_slice(4) do |shows_rows| %>
            <div class="columns is-tiny-gap no-margin shows">
              <% shows_rows.each do |show| %>
                <%= link_to(show, class: "column is-3") do %>
                  <% show_thumb(show, rules: @_rule) %>
                  <%= render ShowThumbnailComponent.new(show: show, focus_platform: platform) %>
                <% end %>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>

    <% if logged_in? && @recommendations.any? %>
      <div class="hf-section">
        <%= hf_header(t('anime.shows.recommend'), subtitle: t('anime.shows.recommend-what'), link_title: t('anime.other.more'), link: shows_path) %>
        <div class="thumbs-section">
          <% @recommendations.each_slice(4) do |shows_rows| %>
            <div class="columns is-tiny-gap no-margin shows">
              <% shows_rows.each do |show| %>
                <%= link_to(show, class: "column is-3") do %>
                  <%= show_thumb(show, rules: @_rule) %>
                <% end %>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  <% end %>
</div>

<script type="text/javascript">
  document.addEventListener('DOMContentLoaded', function() {
    loadPartial('recent_shows', '/recent_shows');
    loadPartial('trending_shows', '/trending_shows');
    loadPartial('airing_now', '/airing_now');
    loadPartial('coming_soon', '/coming_soon');
  });
</script>
