<div class="container is-fluid">
  <% if Show.published.empty? %>
    <div class="text-center">
      <div class="vertical-center">
        <div class="wrapper">
          <h4 class="text-muted"><%= t('anime.shows.empty') %></h4>
        </div>
      </div>
    </div>
  <% else %>
    <% if logged_in? && @episodes[:actual].size > 0 %>
      <div class="hf-section" style="margin-bottom: 50px;">
        <div class="tanoshimu-list-title"><%= t('anime.episodes.continue-watching') %></div>
        <%= render 'users/partial/continue' %>
      </div>
    <% end %>

    <div class="hf-section">
      <% if logged_in? && @main_queue.any? %>
        <%= hf_header(t('anime.shows.main-queue'), subtitle: t('anime.shows.main-queue-what'), link_title: t('anime.other.more'), link: my_queue_path) %>
        <div class="columns is-tiny-gap no-margin shows" style="overflow: scroll">
          <% @main_queue.each do |show| %>
            <%= link_to(show, class: "column is-3") do %>
              <%= show_thumb(show) %>
            <% end %>
          <% end %>
          <% if @view_all_queue %>
            <div class="column is-3" style="display: flex; place-content: center">
              <%= link_to(my_queue_path, style: 'margin: auto;') do %>
                <span>View my queue</span>
              <% end %>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>

    <div class="hf-section">
      <%= hf_header(t('anime.shows.airing-now'), subtitle: t('anime.shows.airing-now-what', season: Config.current_season[:localized]), link_title: t('anime.other.more'), link: shows_path(by: :airing)) %>
      <div id="airing_now">
        <%= show_skeleton %>
        <%= show_skeleton %>
      </div>
    </div>

    <div class="hf-section">
      <%= hf_header(t('anime.shows.trending'), subtitle: t('anime.shows.trending-what'), link_title: t('anime.other.more'), link: shows_path(by: :trending)) %>
      <div id="trending_shows">
        <%= show_skeleton %>
        <%= show_skeleton %>
      </div>
    </div>

    <% if logged_in? && @recommendations.any? %>
      <div class="hf-section">
        <%= hf_header(t('anime.shows.recommend'), subtitle: t('anime.shows.recommend-what'), link_title: t('anime.other.more'), link: shows_path) %>
        <div class="thumbs-section">
          <% @recommendations.each_slice(4) do |shows_rows| %>
            <div class="columns is-tiny-gap no-margin shows">
              <% shows_rows.each do |show| %>
                <%= link_to(show, class: "column is-3") do %>
                  <%= show_thumb(show, rules: @_rule) %>
                <% end %>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>

    <div class="hf-section">
      <%= hf_header(t('anime.shows.coming-soon'), subtitle: t('anime.shows.coming-soon-what', season: Config.next_season[:localized]), link_title: t('anime.other.more'), link: shows_path(by: 'coming-soon')) %>
      <div id="coming_soon">
        <%= show_skeleton %>
        <%= show_skeleton %>
      </div>
    </div>

    <div class="hf-section">
      <%= hf_header(t('anime.shows.recent'), subtitle: t('anime.shows.recent-what'), link_title: t('anime.other.more'), link: shows_path(by: :recent)) %>
      <div id="recent_shows">
        <%= show_skeleton %>
        <%= show_skeleton %>
      </div>
    </div>
  <% end %>
</div>

<script type="text/javascript">
  document.addEventListener('DOMContentLoaded', function() {
    loadPartial('recent_shows', '/recent_shows');
    loadPartial('trending_shows', '/trending_shows');
    loadPartial('airing_now', '/airing_now');
    loadPartial('coming_soon', '/coming_soon');
  });
</script>
