<% url = @login_url if !@login_url.nil? %>
<% url = '/login' if url.nil? %>
<% error_cont_id = 'error-message' %>
<% wait_cont_id = 'waiting-message' %>
<% succ_cont_id = 'success-message' %>


<div class="text-center">
  <div class="vertical-center">
    <div class="wrapper tanoshimu-login">
      <div class="card shadow p-3 mb-5 bg-white rounded">
        <div class="text-center">
          <%= image_tag 'tanoshimu', class: 'logo' %>
        </div>
        <h4 title='Means "to have fun" (楽しむ) in Japanese.'>
          <%= t('welcome.title') %>
        </h4>

        <p class="text-muted"><%= t('welcome.catch-phrase') %></p>

        <div class="container">
          <div id="login-messages" class="center login-messages small">
            <div class="text-danger">
              <span id="error-message"></span>
            </div>
            <div class="text-warning">
              <span id="waiting-message"></span>
            </div>
            <div class="text-success">
              <span id="success-message"></span>
            </div>
          </div>

          <form id="login-form" class="form-signin" onsubmit="return login('<%= error_cont_id %>', '<%= wait_cont_id %>', '<%= succ_cont_id %>', this.getAttribute('id'), '<%= @params.to_json %>')">
            <label for="username" class="sr-only">Username</label>
            <input type="text" id="username" class="validate form-control" placeholder="Username" autofocus>
            <label for="password" class="sr-only">Password</label>
            <input type="password" id="password" class="validate form-control" placeholder="Password">

            <div style="margin-top: 10px;">
              <button class="btn btn-primary btn-block" type="submit">Sign in</button>
            </div>

            <div class="text-center" style="margin-top: 20px;">
              <p>- Or -</p>
              <div>
                <%= link_to '/auth/google_oauth2', class: 'google-btn' do %>
                  <img width="20px" src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/512px-Google_%22G%22_Logo.svg.png"/>
                  Sign in with Google
                <% end %>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="https://apis.google.com/js/platform.js?onload=renderButton" async defer></script>

