<% url = @login_url if !@login_url.nil? %>
<% url = '/login' if url.nil? %>
<% error_cont_id = 'error-message' %>
<% wait_cont_id = 'waiting-message' %>
<% succ_cont_id = 'success-message' %>

<div class="vertical-center">
    <div class="wrapper">
        <div id="login-container" class="center">
            <img src="/img/tanoshimu.png" class="hero-image back"/>
            <h4 title='Means "to have fun" (楽しむ) in Japanese.' ><%= t('welcome.title') %></h4>
            <p>
                <%= t('welcome.catch-phrase') %>
            </p>

            <div class="container">
                <div class="container">
                    <div id="login-messages" class="center">
                        <div class="login-register-error">
                            <span id="error-message"></span>
                        </div>
                        <div class="login-register-waiting">
                            <span id="waiting-message"></span>
                        </div>
                        <div class="login-register-success">
                            <span id="success-message"></span>
                        </div>
                    </div>
                    <div class="row">
                        <form id="login-form" onsubmit="return login('<%= error_cont_id %>', '<%= wait_cont_id %>', '<%= succ_cont_id %>', this.getAttribute('id'), '<%= @params.to_json %>')">
                            <div class="row">
                                <div class="input-field col s12 m6">
                                  <input id="username" type="text" class="validate">
                                  <label for="username"><%= t('welcome.login.username') %></label>
                                </div>
                                <div class="input-field col s12 m6">
                                  <input id="password" type="password" class="validate">
                                  <label for="password"><%= t('welcome.login.password') %></label>
                                </div>
                            </div>
                            <div class="row">
                                
                            </div>
                            <button class="btn" value="<%= t('welcome.login.login') %>" id=""><%= t('welcome.login.login') %></button>
                        </form>
                    </div>
                </div>
            </div>

            <div class="google-play">
                <a href='https://play.google.com/store/apps/details?id=ca.akinyele.ntanoshimu&pcampaignid=MKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1'><img alt='<%= t("badge.alt") %>' src='<%= t("badge.src") %>'/></a>
            </div>

            <div class="hidden login-register-error">
                <p id="error-message">
                    <%= t('errors.internal.login') %>
                </p>
            </div>

        </div>
    </div>
</div>