<div class="text-center">
  <div class="vertical-center">
    <div class="wrapper tanoshimu-login">
      <div class="card shadow p-3 mb-5 bg-white rounded">
        <div class="text-center">
          <img width="130px" src="https://www.misete.io/logo.png"/>
        </div>

        <%= content_tag :p do %>
          <%= content_tag :div, class: 'field' do %>
            <%= content_tag :div, class: 'control' do %>
              <%= content_tag :div, class: 'has-text-centered' do %>
                <%= content_tag :strong do %>
                  <%= t('welcome.user', user: @user.name) %>
                <% end %>
              <% end %>
            <% end %>
          <% end %>

          <%= content_tag :p do %>
            <%= t('welcome.google.register') %>
          <% end %>

          <%= content_tag :strong, class: 'has-text-warning' do %>
            <%= t('welcome.google.please-dont') %>
          <% end %>
        <% end %>
        <%= form_for @user, url: "/welcome/misete/user", method: :post, html: {class: "form-signup"} do |f| %>
          <%= f.hidden_field :username %>
          <%= f.hidden_field :name %>
          <%= f.hidden_field :email %>

          <%= f.password_field :password, placeholder: t('user.settings.form.password.new-password'), class: 'input is-dark', autofocus: true, autocomplete: 'off' %>
          <%= f.password_field :password_confirmation, placeholder: t('user.settings.form.password.confirm-new'), class: 'input is-dark', autocomplete: 'off' %>

          <div style="margin: 10px -80px;">
            <p><%= t('welcome.google.warning') %></p>
          </div>

          <small><%= link_to(t('welcome.google.terms'), 'https://www.akinyele.ca/privacy-policy', target: '_blank') %></small>
          <button style="margin-top: 10px;" class="button is-primary is-fullwidth" type="submit"><%= t('welcome.google.register-action') %></button>
        <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
