<!DOCTYPE html>
<html>
  <head>
    <title><%= app_title %></title>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
    <meta name="theme-color" content="<%= app_colour %>" />
    <meta name="msapplication-navbutton-color" content="<%= app_colour %>" />
    <meta name="apple-mobile-web-app-status-bar-style" content="<%= app_colour %>" />
    <meta name="viewport" content="width=device-width, shrink-to-fit=no, initial-scale=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

    <meta name="google-signin-client_id" content="<%= Config.google_client_id %>.apps.googleusercontent.com">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma-carousel@4.0.4/dist/css/bulma-carousel.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <script src="https://cdn.jsdelivr.net/npm/bulma-carousel@4.0.4/dist/js/bulma-carousel.min.js"></script>
  </head>

  <body>
    <%= yield %>
    <footer>
      <%= render 'shared/footer' %>
    </footer>
  </body>
</html>
