<!DOCTYPE html>
<html>
<head>
  <title><%= app_title %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="theme-color" content="<%= app_colour %>" />
  <meta name="msapplication-navbutton-color" content="<%= app_colour %>" />
  <meta name="apple-mobile-web-app-status-bar-style" content="<%= app_colour %>" />
  <meta name="viewport" content="width=device-width, shrink-to-fit=no, initial-scale=1">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
  
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <link rel="stylesheet" type="text/css" href="https://vjs.zencdn.net/<%= videojs_version %>/video-js.css">
</head>

<% if logged_in? %>
    <header>
        <%= render 'shared/header' %>
    </header>
<% end %>

<body>
    <div id="global-container">
      <%= yield %>
    </div>

    <script type="text/javascript">
      $(document).ready(function() {
            $(".button-collapse").sideNav();
        });
    </script>
    <script type="text/javascript" src="/js/watched_episodes.js"></script>
</body>

<% if logged_in? %>
  <footer>
     <% render 'shared/footer' %>
  </footer>
<% end %>
</html>
