<!DOCTYPE html>
<html>
  <head>
    <title><%= app_title %></title>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <meta name="theme-color" content="<%= app_colour %>" />
    <meta name="msapplication-navbutton-color" content="<%= app_colour %>" />
    <meta name="apple-mobile-web-app-status-bar-style" content="<%= app_colour %>" />
    <meta name="viewport" content="width=device-width, shrink-to-fit=no, initial-scale=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="https://vjs.zencdn.net/<%= videojs_version %>/video-js.css">
    <script type="text/javascript" src="/js/config.js"></script>
  </head>

  <header>
      <%= render 'shared/inbox-options' %>
  </header>

  <body>
      <div class="row no-margin">
        <%= render 'shared/sidebar' %>
        <main class="col-md-9 ml-lg-auto col-lg-10 px-4 logged-in <%= @additional_main_class %>">
          <% flash.each do |key, value| %>
            <div class="alert alert-<%= key %>"><%= value %></div>
          <% end %>
          <div role="main">
            <%= render 'shared/header' %>
            <%= yield %>
          </div>
        </main>
      </div>
      <script type="text/javascript" src="/js/watched_episodes.js"></script>
  </body>
  <footer>
     <% render 'shared/footer' %>
  </footer>
</html>
