<!DOCTYPE html>
<html>
  <head>
    <title><%= app_title %></title>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
    <meta name="theme-color" content="<%= app_colour %>" />
    <meta name="msapplication-navbutton-color" content="<%= app_colour %>" />
    <meta name="apple-mobile-web-app-status-bar-style" content="<%= app_colour %>" />
    <meta name="viewport" content="width=device-width, shrink-to-fit=no, initial-scale=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script type="text/javascript" src="/js/config.js"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.0/css/bulma.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.10.18/datatables.min.css"/>
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.18/datatables.min.js"></script>
  </head>

  <body data-no-turbolink>
    <div role="main">
      <%= render 'shared/header' %>
      <% flash.each do |key, value| %>
        <div class="alert has-background-<%= key %>"><%= value %></div>
      <% end %>
      <%= render_breadcrumbs %>
      <%= yield %>
    </div>
  </body>
  <footer>
     <%= render 'shared/footer' %>
  </footer>
</html>
